@import '~styles/base/variables';

// #ADDRESS SUMMARY
//-------------------------------------
$address-summary-header-color: $theme-primary-color;
$address-summary-header-bg-color: #f8f8f8;
$address-summary-header-border-color: #eeeeee;

.bi-address-summary {
  // [ Components ]
  //-----------------------------------
  &__header {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 5);
    border: 1px solid $address-summary-header-border-color;
    color: $address-summary-header-color;
    background-color: $address-summary-header-bg-color;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 0;
  }

  &__body {
    display: table;
    font-size: 14px;
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;
    border: 1px solid $address-summary-header-border-color;
  }

  &__row {
    display: table-row;
    box-sizing: border-box;
    border: 1px solid $address-summary-header-border-color;
  }

  &__cell {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 5);
    display: table-cell;
    text-overflow: ellipsis;
    overflow: hidden;

    &--header {
      font-weight: 600;
    }

    &--value {
      word-break: break-all;
    }
  }
}
