
/* #GRID
------------------------------------------- */
$grid-offset-step:        5px;

/* #COLORS
------------------------------------------- */
$theme-primary-color:     #121212;
$theme-secondary-color:   #244a87;

$theme-color-blue:        #0078ff;


/* #FONTS
------------------------------------------- */
$theme-main-font:          'Nimbus Sans Novus', sans-serif;