@import '~styles/base/variables';

// #HEADER
//-------------------------------------
$header-bg-color: #ffffff;
$header-mobile-bg-color: #121212;
$header-logo-color: #ffffff;
$header-toggle-color: #ffffff;

.bi-header {
  position: relative;
  box-sizing: content-box;
  height: 100px;
  background-color: $header-bg-color;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.02);

  align-items: center;
  justify-content: space-between;

  .bi-search {
    padding-right: $grid-offset-step * 15;
  }

  .bi-header-stats {
    padding-left: $grid-offset-step * 15;
  }

  &__toggle, &__logo {
    display: none;
  }

  &__logo {
    color: $header-logo-color;
    font-family: $theme-main-font;
    font-size: 14px;
    line-height: 0;
    white-space: nowrap;
    text-decoration: none;
  }

  &__logo-icon {
    width: 160px;
    height: 26px;

    fill: $header-logo-color;
  }

  &__toggle {
    padding: $grid-offset-step * 2;
  }

  &__toggle-icon {
    width: 24px;
    height: 24px;

    fill: $header-toggle-color;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-header {
    height: 60px;
    background-color: $header-mobile-bg-color;

    &__toggle, &__logo {
      display: block;
    }

    .bi-search {
      padding-right: $grid-offset-step * 2;
    }

    &__stats {
      display: none;
    }
  }
}

.bi-app--iframe {
  .bi-header {
    display: none;
  }
}
