@import '~styles/base/variables';

// #API
//-------------------------------------

.bi-api {
  padding: ($grid-offset-step * 10) 0;
  font-family: $theme-main-font;

  // [ Components ]
  //----------------------------------
  .bi-api-tag {
    margin-bottom: $grid-offset-step * 10;
  }

  &__header {
    padding: 0 ($grid-offset-step * 15);
    margin-bottom: $grid-offset-step * 5;
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
  }

  &__body {
    padding: 0 ($grid-offset-step * 15);
  }
}

@media screen and (max-width: $laptop-device-width) {
  .bi-api {
    padding: ($grid-offset-step * 5) ($grid-offset-step * 0);

    &__footer,
    &__header,
    &__body {
      padding: 0 ($grid-offset-step * 5);
    }
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-api {
    padding: ($grid-offset-step * 5) ($grid-offset-step * 0);

    &__footer,
    &__header,
    &__body {
      padding: 0 ($grid-offset-step * 3);
    }
  }
}
