@import '../../../assets/styles/base/variables';

// #ADDRESS ISSUED TOKENS
//-------------------------------------
$address-issued-tokens-header-color: $theme-primary-color;
$address-issued-tokens-header-bg-color: #f8f8f8;
$address-issued-tokens-header-border-color: #eeeeee;
$address-issued-tokens-body-bg: #ffffff;

.bi-address-issued-tokens {
  // [ Components ]
  //-----------------------------------
  &__header {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 5);
    border: 1px solid $address-issued-tokens-header-border-color;
    border-bottom: 0;
    color: $address-issued-tokens-header-color;
    background-color: $address-issued-tokens-header-bg-color;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__body {
    width: 100%;
    border: 1px solid $address-issued-tokens-header-border-color;
    background-color: $address-issued-tokens-body-bg;
    font-size: 14px;
    font-weight: 300;
  }

  &__row {
    border: 1px solid $address-issued-tokens-header-border-color;
  }

  &__cell {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 5);
    word-break: break-all;

    &--header {
      font-weight: 600;
    }
  }

  &__btn-container {
    margin-top: 15px;
    justify-content: space-between;
  }

  &__btn {
    display: inline-flex;
    margin-right: $grid-offset-step * 4;
    padding: ($grid-offset-step * 2) ($grid-offset-step * 4);
    border: 0;
    border-radius: 20px;
    color: $address-issued-tokens-body-bg;
    background-color: $address-issued-tokens-header-color;
    font-family: $theme-main-font;
    font-size: 14px;
    font-weight: 300;

    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-address-issued-tokens {
    &__cell--amount {
      font-size: 16px;
    }
  }
}
