@import '~styles/base/variables';

// #BLOCKS TABLE
//-------------------------------------
$block-table-table-bg-color: #ffffff;
$block-table-table-row-hover-bg-color: #f8f8f8;
$block-table-table-border-color: #eeeeee;
$block-table-cell-color: $theme-primary-color;

.bi-blocks-table {
  font-family: $theme-main-font;

  // [ Components ]
  //----------------------------------
  &__body {
    width: 100%;
    border: 1px solid $block-table-table-border-color;
  }

  &__row {
    background-color: $block-table-table-bg-color;
    border-bottom: 1px solid $block-table-table-border-color;

    &:hover {
      background-color: $block-table-table-row-hover-bg-color;
    }
  }

  &__cell {
    padding: $grid-offset-step * 4;
    border: 1px solid $block-table-table-border-color;
    border-right: 0;
    border-left: 0;
    color: $block-table-cell-color;
    font-size: 15px;
  }

  &__cell-name {
    display: none;
    font-size: 14px;
    font-weight: 600;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-blocks-table {
    &__body {
      border: 0;
    }

    &__row {
      margin-bottom: $grid-offset-step * 2;

      &:hover {
        background-color: $block-table-table-bg-color;
      }
    }

    &__cell-name {
      display: block;
    }
  }
}