@import '../../../assets/styles/base/variables';

// #CHART TOOLTIP
//-----------------------------
$char-tooltip-bg: #ffffff;
$char-tooltip-border-color: #ebebeb;

.bi-chart-tooltip {
  padding: ($grid-offset-step * 2) ($grid-offset-step * 3);
  border: 1px solid $char-tooltip-border-color;
  border-radius: 4px;
  background-color: $char-tooltip-bg;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-family: $theme-main-font;
  font-size: 12px;

  &__label {
    font-weight: 600;
  }
}
