@import '../../../assets/styles/base/variables';

// #BLOCK EXTENSION
//-------------------------------------
$block-ext-bg-color: #ffffff;
$block-ext-row-hover-bg-color: #f8f8f8;
$block-ext-border-color: #eeeeee;
$block-table-title-color: $theme-primary-color;
$block-table-cell-color: $theme-primary-color;
$block-table-cell-border-color: $theme-color-blue;

.bi-block-ext {
  font-family: $theme-main-font;

  // [ Components ]
  //--------------------------------------------------
  &__table {
    width: 100%;
    border: 1px solid $block-ext-border-color;
    background-color: $block-ext-bg-color;
  }

  &__row {
    border-bottom: 1px solid $block-ext-border-color;

    &:hover {
      background-color: $block-ext-row-hover-bg-color;

      .bi-block-ext__cell:first-child:after {
        visibility: visible;
      }
    }
  }

  &__cell {
    position: relative;
    padding: $grid-offset-step * 4;
    border: 1px solid $block-ext-border-color;
    border-right: 0;
    border-left: 0;
    color: $block-table-cell-color;
    font-size: 15px;
    font-weight: 300;

    &:first-child:after {
      visibility: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: $block-table-cell-border-color;
      content: '';
    }
  }

  &__interlink {
    display: block;
  }

  &__cell--header {
    width: 200px;
    font-size: 14px;
    font-weight: 600;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-block-ext {
    &__cell {
      padding: ($grid-offset-step * 2) ($grid-offset-step * 2);
      border-bottom: 0;
    }

    &__cell--header + &__cell {
      border-top: 0;
    }
  }
}
