@import '../../assets/styles/base/variables';

// #Sidebar menu
//-------------------------------------
$sidebar-menu-item-color: #828795;
$sidebar-menu-item-active-color: #ffffff;

.bi-sidebar-menu {
  font-family: $theme-main-font;

  // [ Components ]
  //-------------------------------------
  &__item {
    margin: $grid-offset-step 0;
    padding: $grid-offset-step ($grid-offset-step * 7);
  }

  &__item-title {
    display: flex;
    align-items: center;
    line-height: 1;
    transition: opacity 300ms ease-in-out;
  }

  &__item-icon {
    width: 18px;
    height: 18px;
    margin-right: ($grid-offset-step * 2);
    transition: transform 150ms linear;

    fill: $sidebar-menu-item-color;
  }

  &__icon-external {
    display: none;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: ($grid-offset-step * 2);
    transition: transform 150ms linear;

    fill: $sidebar-menu-item-color;
  }

  &__item-wrapper {
    color: $sidebar-menu-item-color;
    font-size: 16px;
    text-decoration: none;

    align-items: center;
    justify-content: center;

    // [ Mode ] Active
    &--active {
      color: $sidebar-menu-item-active-color;

      .bi-sidebar-menu__item-icon {
        fill: $sidebar-menu-item-active-color;
      }

      + .bi-sidebar-menu__item-children {
        display: block;
      }
    }

    &:hover {
      .bi-sidebar-menu__icon-external {
        display: inline-block;
      }
    }
  }

  &__item-children {
    display: none;
    margin-top: $grid-offset-step * 2;
    margin-bottom: $grid-offset-step * 2;
    padding-left: $grid-offset-step * 5;

    .bi-sidebar-menu__item {
      display: block;
      margin: 0;
      padding: $grid-offset-step 0;
    }

    .bi-sidebar-menu__item-wrapper {
      font-size: 13px;
    }
  }
}
