@import '../../../assets/styles/base/variables';

// #BLOCKS TABLE HEADER
//-------------------------------------
$block-table-table-header-bg-color: #f8f8f8;
$block-table-table-sort-active-color: $theme-color-blue;

.bi-blocks-table-header {
  // [ Components ]
  //----------------------------------
  .bi-blocks-table__cell {
    background-color: $block-table-table-header-bg-color;
    font-size: 14px;
    font-weight: 600;

    &:before {
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #eeeeee;
      content: '';
    }
  }

  &__sort {
    color: $theme-primary-color;
  }

  &__sort--asc,
  &__sort--desc {
    color: $block-table-table-sort-active-color;
  }

  &__sort--asc &,
  &__sort--desc & {
    &__sort-icon {
      fill: $block-table-table-sort-active-color;
    }
  }

  &__sort-icon--asc,
  &__sort-icon--desc {
    display: none;
  }

  &__sort--asc & {
    &__sort-icon {
      display: none;
    }

    &__sort-icon--asc {
      display: inline;
    }
  }

  &__sort--desc & {
    &__sort-icon {
      display: none;
    }

    &__sort-icon--desc {
      display: inline;
    }
  }

  &__sort-icon {
    width: 8px;
    height: 8px;
    margin-left: $grid-offset-step;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-blocks-table-header {
    display: none;
  }
}
