@import '~styles/base/variables';

// #BLOCKS TABLE HEADER
//-------------------------------------
$block-table-table-header-bg-color: #f8f8f8;

.bi-blocks-table-header {

  // [ Components ]
  //----------------------------------
  .bi-blocks-table__cell {
    background-color: $block-table-table-header-bg-color;
    font-size: 14px;
    font-weight: 600;
    position: sticky;
    top: 0;

    &:before {
      height: 1px;
      width: 100%;
      position: absolute;
      top: -1px;
      left: 0;
      content: '';
      background-color: #eee;
    }
  }

  &__sort {
    color: $theme-primary-color;
  }

  &__sort--asc,
  &__sort--desc {
    color: $theme-color-blue;
  }

  &__sort--asc &,
  &__sort--desc & {
    &__sort-icon {
      fill: $theme-color-blue;
    }
  }

  &__sort-icon--asc, &__sort-icon--desc {
    display: none;
  }

  &__sort--asc & {
    &__sort-icon {
       display: none;
     }

    &__sort-icon--asc {
      display: inline;
    }
  }

  &__sort--desc & {
    &__sort-icon {
      display: none;
    }

    &__sort-icon--desc {
      display: inline;
    }
  }


  &__sort-icon {
    width: 8px;
    height: 8px;
    margin-left: $grid-offset-step;
  }
}
