@import '~styles/base/variables';

// #BLOCKS TABLE HEADER
//-------------------------------------
$block-table-table-header-bg-color: #f8f8f8;

.bi-blocks-table-header {

  // [ Components ]
  //----------------------------------
  .bi-blocks-table__cell {
    background-color: $block-table-table-header-bg-color;
    font-size: 14px;
    font-weight: 600;
    position: sticky;
    top: 0;

    &:before {
      height: 1px;
      width: 100%;
      position: absolute;
      top: -1px;
      left: 0;
      content: '';
      background-color: #eee;
    }
  }
}
