@import '~styles/base/variables';

// #CHART
//-------------------------------------

.bi-chart {
  height: 100%;
  padding: ($grid-offset-step * 10) 0;
  font-family: $theme-main-font;

  // [ Components ]
  //-----------------------------------
  &__header {
    padding: 0 ($grid-offset-step * 15);
  }

  &__chart {
    height: 100%;
    max-height: 512px;
    margin: $grid-offset-step * 10 0;
    padding: 0 ($grid-offset-step * 3);
  }

  &__controls {
    padding: 0 ($grid-offset-step * 15);
  }

  &__title {
    font-size: 26px;
    font-weight: 700;
  }
}

.bi-chart--iframe {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 0;
  z-index: 10001;
  background-color: #ffffff;

  .bi-chart__chart {
    max-height: 100%;
    margin: 0;
    padding: 0;
  }

  .bi-chart__body {
    padding: 0;
  }

  .bi-chart__header {
    display: none;
  }
}
