@import '../../assets/styles/base/variables';

$error-text-color: #721c24;
$error-bg-color: #f8d7da;
$error-border-color: #f5c6cb;

.error-message {
  padding: ($grid-offset-step * 6) ($grid-offset-step * 10);
  font-family: $theme-main-font;

  &__content {
    position: relative;
    padding: 0.75rem 1.25rem;
    font-size: 15px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid $error-border-color;
    border-radius: 0.25rem;
    color: $error-text-color;
    background-color: $error-bg-color;
  }
}

@media screen and (max-width: $laptop-device-width) {
  .error-message {
    padding: ($grid-offset-step * 5) ($grid-offset-step * 0);

    &__content {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}
