@import '~styles/base/variables';

// #API TAG
//-------------------------------------
$api-tag-title-color: $theme-primary-color;
$api-tag-subtitle-color: lighten($theme-primary-color, 20%);

.bi-api-tag {
  position: relative;
  // [ Components ]
  //---------------------------------
  a[id] {
    position: absolute;
    top: -30px;
  }

  .bi-api-path {
    margin-bottom: $grid-offset-step * 5;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__paths {
    padding-top: $grid-offset-step * 2;
  }

  &__title {
    font-family: $theme-main-font;
    font-weight: 600;
    color: $api-tag-title-color;
    font-size: 22px;
    text-transform: capitalize;
  }

  &__subtitle {
    font-size: 16px;
    color: $api-tag-subtitle-color;
    font-weight: 500;
  }
}
