@import '../../assets/styles/base/variables';

.or-content {
  z-index: 3;
  position: relative;
  padding: 50px 75px;

  @media (max-width: $mobile-device-width) {
    padding: 20px;
  }

  &__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 50px;

    @media (max-width: 1400px) {
      grid-template-columns: 1fr;
    }
  }
}
