@import '../../../assets/styles/base/variables';

// #TRANSACTIONS ITEM
//-------------------------------------
$block-transactions-item-bg-color: #ffffff;
$block-transactions-item-border-color: #eeeeee;
$block-transactions-item-value-color: #828795;
$block-transactions-item-total-value-color: $theme-color-blue;
$block-transactions-item-confirmations-color: #ffffff;
$block-transactions-item-confirmations-bg: $theme-primary-color;

.bi-unconfirmed-transactions-item {
  min-width: 300px;
  border: 1px solid $block-transactions-item-border-color;
  background-color: $block-transactions-item-bg-color;
  font-size: 14px;
  font-weight: 300;

  // [ Components ]
  //---------------------------------------
  &__header {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 6);
    border-bottom: 1px solid $block-transactions-item-border-color;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
  }

  &__inputs {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 6);
    border-right: 1px solid $block-transactions-item-border-color;
  }

  &__outputs {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 6);
  }

  &__value {
    display: flex;
    color: $block-transactions-item-value-color;

    div + div {
      margin-left: 0.5rem;
    }
  }

  &__total-value {
    padding: ($grid-offset-step * 2) ($grid-offset-step * 3);
    border: 1px solid $block-transactions-item-total-value-color;
    border-radius: 94px;
    color: $block-transactions-item-total-value-color;
    font-weight: 600;
  }

  &__confirmations {
    margin-right: $grid-offset-step * 2;
    padding: ($grid-offset-step * 2) ($grid-offset-step * 3);
    border-radius: 94px;
    color: $block-transactions-item-confirmations-color;
    background-color: $block-transactions-item-confirmations-bg;
    font-weight: 600;
    line-height: 22px;
    text-transform: capitalize;
  }

  &__body {
    position: relative;
  }

  &__address {
    max-width: 60%;
  }

  &__timestamp {
    font-weight: 500;
  }

  &__output {
    flex-flow: wrap;
    justify-content: space-between;
    line-height: 20px;
  }

  &__input {
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 20px;
  }

  &__footer {
    margin-top: $grid-offset-step * 4;

    justify-content: flex-end;
  }

  &__address-output {
    .bi-coin-value {
      display: inline-block;
      color: $block-transactions-item-value-color;
    }
  }

  &__address-spent {
    margin-left: $grid-offset-step;
    color: #1ec116;

    a {
      color: red;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: $grid-offset-step * 2;
    border: 1px solid #eeeeee;
    border-radius: 100%;
    background-color: #ffffff;
    line-height: 0;
    transform: translate(-50%, -50%);
  }

  &__total-value--input {
    border-color: #1ec116;
    color: #1ec116;
  }

  &__total-value--output {
    border-color: red;
    color: red;
  }

  &__arrow--output &__arrow-icon {
    fill: red;
  }

  &__arrow--input &__arrow-icon {
    fill: #1ec116;
  }

  &__arrow-icon {
    width: 21px;
    height: 21px;

    fill: #828795;
  }

  .item__confirmations--unconfirmed {
    background: #ffa707;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-unconfirmed-transactions-item {
    &__body,
    &__output,
    &__footer {
      flex-direction: column;
    }

    &__inputs,
    &__outputs {
      width: auto;
    }

    &__address {
      @media (max-width: $mobile-device-width) {
        max-width: 100%;

        div + & {
          margin-bottom: 1rem;
        }
      }
    }

    &__value {
      flex-direction: column;

      div + div {
        margin-left: 0;
      }

      div {
        margin-top: 0.5rem;
      }
    }

    &__inputs {
      border-right: 0;
      border-bottom: 1px solid $block-transactions-item-border-color;
    }

    &__confirmations {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    &__confirmations,
    &__total-value {
      text-align: center;
    }

    &__arrow {
      display: none;
    }

    &__input,
    &__output {
      margin-bottom: $grid-offset-step * 3;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__address-spent {
      width: 100%;
      margin-left: 0;
    }
  }
}
