@import '../../assets/styles/base/variables';
$payment-request-modal-input-border-color: #eeeeee;

// #ERGOTREE
//-------------------------------------

$data-color: $theme-primary-color;
$data-title-color: $theme-primary-color;

.bi-tree {
  width: 100%;
  height: 150px;
  padding: ($grid-offset-step * 10) 0;
  color: $data-color;
  font-family: $theme-main-font;

  justify-content: space-between;


  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: $grid-offset-step*2 ($grid-offset-step * 10) $grid-offset-step * 2
      $grid-offset-step * 2;
    border: 1px solid #ccc;
    font-size: 18px;
    line-height: 1;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  // [ Components ]
  //----------------------------------
  &__header {
    margin-bottom: ($grid-offset-step * 4);
    padding: 0 ($grid-offset-step * 15);

    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $data-title-color;
    font-size: 22px;
    font-weight: 600;
  }

  &__body {
    padding: 0 ($grid-offset-step * 15);
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: $laptop-device-width) {
  .bi-tree {
    padding: ($grid-offset-step * 5) 0;

    &__footer,
    &__header,
    &__body {
      padding: 0 ($grid-offset-step * 5);
    }
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-tree {
    padding: ($grid-offset-step * 5) 0;

    &__footer,
    &__header,
    &__body {
      padding: 0 ($grid-offset-step * 3);
    }

    &__footer .bi-limit-selector {
      display: none;
    }
  }
}
