@import '~styles/base/variables';

// #Home
//-------------------------------------
$home-color: $theme-primary-color;

.bi-home {
  color: $home-color;

  // [ Components ]
  //-------------------------
  &__body {
    background-color: #eeeeee;
  }
}
