@import '~styles/base/variables';

// #Data
//-------------------------------------
$data-color: $theme-primary-color;
$data-title-color: $theme-primary-color;


.bi-data {
  height: 100%;
  padding: ($grid-offset-step * 10) ($grid-offset-step * 15);
  color: $data-color;
  font-family: $theme-main-font;

  justify-content: space-between;

  // [ Components ]
  //----------------------------------
  &__header {
    margin-bottom: ($grid-offset-step * 4);
  }

  &__footer {
    justify-content: flex-end;
  }

  &__title {
    color: $data-title-color;
    font-size: 22px;
    font-weight: 600;
  }
}
