@import '~styles/base/variables';

// #Home
//-------------------------------------
$home-color: $theme-primary-color;
$home-bg-color: #f8f8f8;

.bi-home {
  height: 100%;
  padding: ($grid-offset-step * 10) ($grid-offset-step * 15);
  color: $home-color;
  background-color: $home-bg-color;

  &__wrapper {
    height: 100%;
    justify-content: space-between;
  }

  &__footer {
    justify-content: flex-end;
  }
}
