@import '../../../../node_modules/react-calendar/dist/Calendar.css';
@import '../../../assets/styles/base/variables';

// #CALENDAR
//-------------------------------------
$calendar-btn-color: $theme-color-blue;
$calendar-bt-reset-color: $theme-primary-color;
$calendar-bt-reset-bg: #e8e8e8;

.bi-calendar {
  position: relative;
  font-family: $theme-main-font;

  // [ Components ]
  //--------------------------------------
  &__calendar {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 386px;
    max-width: initial;
  }

  &__btn {
    color: $calendar-btn-color;
    font-family: $theme-main-font;
    font-size: 14px;
  }

  &__calendar--open {
    display: block;
  }

  &__btn-reset {
    display: none;
    margin-left: $grid-offset-step;
    padding: $grid-offset-step;
    border-radius: 100%;
    background-color: $calendar-bt-reset-bg;
    line-height: 0;
  }

  &__btn-reset-icon {
    width: 7px;
    height: 7px;

    fill: $calendar-bt-reset-color;
  }

  &--date-set & {
    &__btn-reset {
      display: inline-block;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;

    fill: $theme-color-blue;
  }

  &__icon--prev {
    transform: rotate(180deg);
  }
}

.bi-calendar__calendar {
  padding: $grid-offset-step * 7;
  padding-bottom: $grid-offset-step * 4;
  border: 1px solid #eeeeee;
  font-family: $theme-main-font;

  .react-calendar__tile {
    padding: $grid-offset-step * 3;
    color: $theme-primary-color;
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    font-family: $theme-main-font;
  }

  .react-calendar__tile--active {
    color: #ffffff;
  }

  .react-calendar__navigation__arrow {
    min-height: auto;
    padding: $grid-offset-step * 3;
    line-height: 0;
  }

  .react-calendar__navigation__label {
    font-family: $theme-main-font;
    font-size: 15px;
    font-weight: 300;
  }

  .react-calendar__month-view__weekdays {
    font-size: 15px;
    font-weight: 500;
  }

  .react-calendar__month-view__days__day--neighboringMonth:not(.react-calendar__tile--active) {
    color: #828795;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-calendar {
    position: initial;

    &__calendar {
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
    }
  }
}
