@import '~styles/base/variables';

// #Sidebar
//-------------------------------------
$sidebar-bg-color: #121212;
$sidebar-logo-color: #ffffff;
$sidebar-copyright-color: #828795;
$sidebar-font: $theme-main-font;
$sidebar-btn-toggle-border-color: #ffffff;
$sidebar-btn-toggle-icon-color: #ffffff;

.bi-sidebar {
  width: 300px;
  background-color: $sidebar-bg-color;
  font-family: $sidebar-font;
  transition: width 300ms linear;

  // [ Components ]
  //---------------------------------
  &__header {
    position: relative;
    padding: ($grid-offset-step * 7) ($grid-offset-step * 7);

    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $sidebar-logo-color;
    font-size: 26px;
    white-space: nowrap;
    text-decoration: none;
    transition: opacity 250ms ease-in-out;
  }

  &__logo-highlight {
    font-weight: 600;
  }

  &--collapsed:not(&--open) {
    width: 100px;

    .bi-sidebar-menu__item {
      margin: 20px 0;
      padding: $grid-offset-step * 2;
    }

    .bi-sidebar-menu__item-icon {
      transform: scale3d((24/15), (24/15), 1);
    }

    .bi-sidebar-menu__item-icon + .bi-sidebar-menu__item-title {
      visibility: hidden;
      position: absolute;
      opacity: 0;
    }
  }

  &--collapsed:not(&--open) & {
    &__logo {
      position: absolute;
      left: ($grid-offset-step * 7);
      opacity: 0;
    }

    &__header {
      justify-content: flex-end;
    }

    &__btn-toggle-icon {
      transform: rotate(0);
    }

    &__footer {
      display: flex;
      padding: ($grid-offset-step * 3) 0;

      justify-content: center;
    }

    &__copyright {
      position: absolute;
      opacity: 0;
    }
  }

  &__btn-toggle {
    z-index: 1;
    padding: $grid-offset-step * 2;
    border: 1px solid $sidebar-btn-toggle-border-color;
    border-radius: 100%;

    align-items: center;
    justify-content: center;
  }

  &__btn-toggle-icon {
    width: 15px;
    height: 15px;
    transform: rotate(180deg);

    fill: $sidebar-btn-toggle-icon-color;
  }

  &__footer {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 7);

    flex-wrap: wrap;
  }

  &__footer-line {
    width: 100%;
  }

  &__copyright {
    padding: ($grid-offset-step * 2) 0;
    opacity: 1;
    color: $sidebar-copyright-color;
    font-size: 14px;
    white-space: nowrap;
    transition: opacity 300ms ease-in-out;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-sidebar {
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: -100%;
    transition: left 250ms ease-in-out;

    &--open {
      left: 0;
    }
  }
}
