@import '../../../assets/styles/base/variables';

// #PAYMENT REQUEST MODAL
//-------------------------------------
$payment-request-modal-bg: #ffffff;
$payment-request-modal-title-color: $theme-main-font;
$payment-request-modal-subtitle-color: #828795;
$payment-request-modal-link-bg: #f8f8f8;
$payment-request-modal-btn-copy-color: #ffffff;
$payment-request-modal-btn-copy-bg: $theme-color-blue;
$payment-request-modal-input-border-color: #eeeeee;
$payment-request-modal-link-color: #828795;
$payment-request-modal-link-border-color: #e5e5e5;

.bi-payment-request-modal {
  max-width: 550px;
  padding: ($grid-offset-step * 12) ($grid-offset-step * 15);
  border-radius: 4px;
  outline: none;
  background-color: $payment-request-modal-bg;
  font-family: $theme-main-font;

  // [ Components ]
  //-----------------------------------
  &__title {
    margin-bottom: $grid-offset-step * 8;
    color: $payment-request-modal-title-color;
    font-size: 26px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
  }

  &__subtitle {
    margin-top: $grid-offset-step * 2;
    color: $payment-request-modal-subtitle-color;
    font-size: 15px;
    font-weight: 400;
  }

  &__form-item {
    margin-bottom: $grid-offset-step * 6;

    align-items: center;
    flex-wrap: wrap;
  }

  &__label {
    margin-right: $grid-offset-step * 2;
    font-size: 15px;
    font-weight: 600;

    &--line {
      width: 100%;
      margin-bottom: $grid-offset-step;
    }
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    padding: $grid-offset-step ($grid-offset-step * 10) $grid-offset-step
      $grid-offset-step;
    border: 1px solid $payment-request-modal-input-border-color;
    font-size: 18px;
    line-height: 1;
    resize: none;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &--textarea {
      height: 60px;
      font-size: 13px;
    }
  }

  &__input-currency {
    position: absolute;
    top: 50%;
    right: $grid-offset-step * 2;
    font-size: 12px;
    transform: translateY(-50%);
  }

  &__link {
    width: 200px;
    height: 156px;
    margin-left: $grid-offset-step * 4;
    font-size: 12px;
  }

  &__link-header {
    margin-bottom: $grid-offset-step * 2;
    font-size: 15px;
  }

  &__footer {
    margin-top: $grid-offset-step * 6;

    align-items: center;
    justify-content: flex-end;
  }

  &__btn-copy {
    padding: ($grid-offset-step * 2) ($grid-offset-step * 6);
    border-radius: 84px;
    color: $payment-request-modal-btn-copy-color;
    background-color: $payment-request-modal-btn-copy-bg;
    font-size: 16px;
  }

  &__link-body {
    padding: $grid-offset-step * 2 $grid-offset-step * 3;
    border: 1px solid $payment-request-modal-link-border-color;
    color: $payment-request-modal-link-color;
    background-color: $payment-request-modal-link-bg;
    font-size: 15px;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-payment-request-modal {
    box-sizing: border-box;
    width: 100%;
    max-height: 100vh;
    padding: ($grid-offset-step * 3) ($grid-offset-step * 5);
    border-radius: 0;

    &__input-wrapper {
      width: 100%;
    }

    &__link-body {
      width: 100%;
    }

    &__qrcode {
      margin-bottom: $grid-offset-step * 5;

      align-items: center;
    }

    &__link {
      margin: 0;
    }

    &__result,
    &__form-item {
      flex-direction: column;

      align-items: flex-start;
    }
  }
}
