@import '~styles/base/variables';

// #ADDRESS
//-------------------------------------

.bi-address {
  height: 100%;
  padding: ($grid-offset-step * 10) ($grid-offset-step * 15);
  font-family: $theme-main-font;

  &__title {
    font-size: 26px;
    font-weight: 600;
  }

  &__transactions {
    margin-top: $grid-offset-step * 8;
  }

  &__tables {
    margin: $grid-offset-step * 10  (-($grid-offset-step * 5)) 0;

    flex-wrap: wrap;
  }

  &__table {
    min-width: 300px;
  }

  &__table {
    margin: ($grid-offset-step * 2) ($grid-offset-step * 5);
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-address {
    padding: ($grid-offset-step * 2) ($grid-offset-step * 3);
  }
}
