@import '~styles/base/variables';

// #ADDRESS
//-------------------------------------

.bi-address {
  height: 100%;
  padding: ($grid-offset-step * 10) ($grid-offset-step * 15);
  font-family: $theme-main-font;

  &__title {
    font-size: 26px;
    font-weight: 600;
  }

  &__transactions {
    margin-top: $grid-offset-step * 10;
  }

  &__table {
    margin-top: $grid-offset-step * 10;
  }

  &__table {
    margin-right: $grid-offset-step * 5;

    &:last-child {
      margin-right: 0;
    }
  }
}
