@import '~styles/base/variables';

// #Sidebar
//-------------------------------------
$sidebar-bg-color: #121212;
$sidebar-logo-color: #ffffff;
$sidebar-font: $theme-main-font;
$sidebar-btn-toggle-border-color: #ffffff;

.bi-sidebar {
  width: 300px;
  background-color: $sidebar-bg-color;
  font-family: $sidebar-font;
  transition: width 300ms linear;

  // [ Components ]
  //---------------------------------
  &__header {
    position: relative;
    padding: ($grid-offset-step * 7) ($grid-offset-step * 7);

    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $sidebar-logo-color;
    font-size: 26px;
    white-space: nowrap;
    text-decoration: none;
    transition: opacity 250ms ease-in-out;
  }

  &__logo-highlight {
    font-weight: 600;
  }

  &--collapsed {
    width: 100px;
  }

  &--collapsed & {
    &__logo {
      position: absolute;
      left: ($grid-offset-step * 7);
      opacity: 0;
    }

    &__header {
      justify-content: flex-end;
    }

    &__btn-toggle-icon {
      transform: rotate(0);
    }
  }

  &__btn-toggle {
    z-index: 1;
    padding: $grid-offset-step * 2;
    border: 1px solid $sidebar-btn-toggle-border-color;
    border-radius: 100%;

    align-items: center;
    justify-content: center;
  }

  &__btn-toggle-icon {
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
  }
}
