@import '~styles/base/variables';

// #BLOCK INFO
//-------------------------------------
$block-info-bg-color: #ffffff;
$block-info-row-hover-bg-color: #f8f8f8;
$block-info-border-color: #eeeeee;
$block-table-title-color: $theme-primary-color;
$block-table-cell-color: $theme-primary-color;
$block-table-cell-border-color: $theme-color-blue;

.bi-block-info {
  font-family: $theme-main-font;

  // [ Components ]
  //--------------------------------------------------
  &__table {
    width: 100%;
    border: 1px solid $block-info-border-color;
    background-color: $block-info-bg-color;
  }

  &__row {
    border-bottom: 1px solid $block-info-border-color;

    &:hover {
      background-color: $block-info-row-hover-bg-color;

      .bi-block-info__cell:first-child:after {
        transform: scale(1);
      }
    }
  }

  &__cell {
    position: relative;
    padding: $grid-offset-step * 4;
    border: 1px solid $block-info-border-color;
    border-right: 0;
    border-left: 0;
    color: $block-table-cell-color;
    font-size: 15px;

    &:first-child:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: $block-table-cell-border-color;
      content: '';
      transform: scale(0);
    }
  }

  &__cell--header {
    font-weight: 600;
    width: 200px;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-block-info {

    &__cell {
      border-bottom: 0;
      padding: ($grid-offset-step * 2) ($grid-offset-step * 2);
    }

    &__cell--header + &__cell {
      border-top: 0;
    }
  }
}
