@import '~styles/base/variables';

// #TRANSACTIONS ITEM
//-------------------------------------
$block-transactions-item-bg-color: #ffffff;
$block-transactions-item-border-color: #eeeeee;
$block-transactions-item-value-color: #828795;
$block-transactions-item-total-value-color: $theme-color-blue;
$block-transactions-item-confirmations-color: #fff;
$block-transactions-item-confirmations-bg: $theme-primary-color;

.bi-transactions-item {
  min-width: 300px;
  border: 1px solid $block-transactions-item-border-color;
  background-color: $block-transactions-item-bg-color;
  font-size: 14px;

  // [ Components ]
  //---------------------------------------
  &__header {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 6);
    border-bottom: 1px solid $block-transactions-item-border-color;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;
  }

  &__inputs {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 6);
    border-right: 1px solid $block-transactions-item-border-color;
  }

  &__outputs {
    padding: ($grid-offset-step * 3) ($grid-offset-step * 6);
  }

  &__value {
    color: $block-transactions-item-value-color;
  }

  &__total-value {
    padding: ($grid-offset-step * 2) ($grid-offset-step * 3);
    border: 1px solid $block-transactions-item-total-value-color;
    border-radius: 94px;
    color: $block-transactions-item-total-value-color;
    font-weight: 600;
  }

  &__confirmations {
    padding: ($grid-offset-step * 2) ($grid-offset-step * 3);
    background-color: $block-transactions-item-confirmations-bg;
    border-radius: 94px;
    color: $block-transactions-item-confirmations-color;
    font-weight: 600;
    margin-right: $grid-offset-step * 2;
    text-transform: capitalize;
  }

  &__address {
    max-width: 70%;
  }

  &__timestamp {
    font-weight: 500;
  }

  &__output {
    flex-flow: wrap;
    justify-content: space-between;
  }

  &__input {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__footer {
    margin-top: $grid-offset-step * 4;
    justify-content: flex-end;
  }

  &__address-output {
    .bi-coin-value {
      color: $block-transactions-item-value-color;
      display: inline-block;
    }
  }

  &__address-spent {
    margin-left: $grid-offset-step;

    color: red;

    a {
      color: green;
    }
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-transactions-item {
    &__body,
    &__output,
    &__footer {
      flex-direction: column;
    }

    &__inputs,
    &__outputs {
      width: auto;
    }

    &__inputs {
      border-bottom: 1px solid $block-transactions-item-border-color;
      border-right: 0;
    }

    &__confirmations {
      margin-right: 0;
      margin-bottom: $grid-offset-step;
    }

    &__confirmations,
    &__total-value {
      text-align: center;
    }


    &__input,
    &__output {
      margin-bottom: $grid-offset-step * 3;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__address-spent {
      margin-left: 0;
    }
  }
}