@import '../../assets/styles/base/variables';

// #WALLET
//-------------------------------------

.bi-wallet {
  padding: ($grid-offset-step * 10) ($grid-offset-step * 15);
  font-family: $theme-main-font;

  &__title {
    font-size: 26px;
    font-weight: 700;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-wallet {
    padding: ($grid-offset-step * 2) ($grid-offset-step * 3);
  }
}
