// @import '../fonts/nimbus/stylesheet.css';

@import 'base/normalize';
@import 'base/grid';
@import 'base/table';
@import 'base/utils';

@import 'components/default';
@import 'components/buttons';
@import 'components/modal';

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}

.text-gray {
  color: #bbbbbb;
}
