@import '~styles/base/variables';

// #BLOCK HEADER
//-------------------------------------
$block-header-title-color: $theme-primary-color;
$block-header-nav-btn-bg-color: #e8e8e8;
$block-header-tab-border-color: #0078ff;
$block-header-back-btn-color: #0078ff;
$block-header-tab-active-color: $theme-primary-color;
$block-header-nav-icon-color: $theme-primary-color;

.bi-block-header {
  margin-bottom: $grid-offset-step * 5;
  font-family: $theme-main-font;


  // [ Components ]
  //-------------------------------
  &__line {
    align-items: center;
    width: 100%;
  }

  &__title {
    color: $block-header-title-color;
    font-size: 26px;
    font-weight: bold;
  }

  &__navigation {
    margin: 0 $grid-offset-step * 2;
  }

  &__tabs {
    margin-left: auto;
  }

  &__navigation-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 ($grid-offset-step / 2);
    border-radius: 50%;
    background-color: $block-header-nav-btn-bg-color;
    line-height: 22px;
    text-align: center;

    &:hover {
      background-color: darken($block-header-nav-btn-bg-color, 3);
    }
  }

  &__navigation-btn--prev & {
    &__navigation-btn-icon {
      transform: rotate(180deg);
    }
  }

  &__navigation-btn-icon {
    width: 10px;
    height: 10px;

    fill: $block-header-nav-icon-color;
  }

  &__tab {
    margin: 0 ($grid-offset-step * 4);
    border-bottom: 1px dotted $block-header-tab-border-color;
    font-size: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__tab--active {
    border-bottom: 0;
    color: $block-header-tab-active-color;
    font-weight: bold;
  }

  &__btn-back {
    display: inline-block;
    font-size: 15px;
    margin-bottom: $grid-offset-step * 8;
  }

  &__btn-back-icon {
    width: 10px;
    height: 10px;

    fill: $block-header-back-btn-color;

    transform: rotate(180deg);

    margin-right: $grid-offset-step;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-block-header {
    flex-wrap: wrap;

    &__btn-back {
      margin-bottom: $grid-offset-step * 2;
    }

    &__tabs {
      margin-left: 0;
      margin-top: $grid-offset-step * 2;
    }

    &__tab {
      margin-left: 0;
      margin-right: $grid-offset-step * 2;
    }

    &__line {
      flex-wrap: wrap;
    }
  }
}

