@import '~styles/base/variables';

// #SEARCH
//------------------------------
$search-bg-color: #ffffff;
$search-mobile-bg-color: #121212;
$search-icon-color: #828795;
$search-icon-mobile-color: #ffffff;
$search-input-mobile-color: #ffffff;


.bi-search {
  background-color: $search-bg-color;
  font-family: $theme-main-font;

  align-items: center;


  // [ Components ]
  //-------------------------------
  &__input {
    display: none;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 28px;
    font-weight: normal;
    line-height: 100%;
    text-overflow: ellipsis;
    width: 100%;
  }

  &__icon {
    width: 24px;
    height: 24px;
    padding: 0 ($grid-offset-step * 3);

    fill: $search-icon-color;
  }

  &--focused {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 ($grid-offset-step * 15);
  }

  &--focused & {
    &__input {
      display: block;
    }
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-search {
    background-color: $search-mobile-bg-color;

    &__icon {
      padding-left: 0;

      fill: $search-icon-mobile-color;
    }

    &__input {
      color: $search-input-mobile-color;
      font-size: 14px;
    }

    &--focused {
      padding: 0 ($grid-offset-step * 3);
    }
  }
}
