@import '../../../assets/styles/base/variables';

// #LIMIT SELECTOR
//-------------------------------------
$limit-selector-item-color: $theme-color-blue;
$limit-selector-item-selected-color: $theme-primary-color;
$limit-selector-item-selected-bg-color: #e8e8e8;

.bi-limit-selector {
  font-family: $theme-main-font;

  // [ Components ]
  //--------------------------------------
  &__label {
    margin-right: $grid-offset-step * 2;
    font-weight: 300;
  }

  &__item {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    margin-right: $grid-offset-step;
    border-radius: 30px;
    color: $limit-selector-item-color;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item--selected {
    color: $limit-selector-item-selected-color;
    background-color: $limit-selector-item-selected-bg-color;
  }
}
