@import '~styles/base/variables';

// #BLOCK
//-------------------------------------

.bi-block {
  padding: ($grid-offset-step * 10) ($grid-offset-step * 15);
  font-family: $theme-main-font;

  &__body {
    margin-bottom: $grid-offset-step * 4;
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-block {
    padding: ($grid-offset-step * 5) ($grid-offset-step * 3);
  }
}
