@import '../../../assets/styles/base/variables';

// #API PATH
//-------------------------------------
$api-path-pathname-color: $theme-primary-color;
$api-path-type-color: #fff;
$api-path-type-bg: $theme-color-blue;

.bi-api-path {
  font-family: $theme-main-font;

  & + .bi-api-path {
    margin-top: 48px;

    @media (max-width: $mobile-device-width) {
      margin-top: 24px;
    }
  }

  // [ Components ]
  //-----------------------------------
  &__item {
    margin-bottom: $grid-offset-step * 5;
    background-color: #fff;
    padding: $grid-offset-step * 3 $grid-offset-step * 3;

    &:last-child {
      margin-bottom: 0;
    }

    &-header {
      cursor: pointer;
      position: relative;
    }

    &-body {
      transition: all ease-in 0.3s;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0px;

    svg {
      width: 20px;
      height: 20px;
      transition: all ease-in 0.3s;
    }

    &--open {
      svg {
        transform: rotate(180deg);
      }
    }
  }


  &__raw {
    white-space: pre-wrap;
  }

  &__type {
    font-weight: 600;
    color: $api-path-type-color;
    background-color: $api-path-type-bg;
    padding: $grid-offset-step $grid-offset-step * 2;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    font-weight: 300;
    border-radius: 2px;
    margin-right: $grid-offset-step * 2;
  }

  &__pathname {
    font-weight: 600;
    color: $api-path-pathname-color;
    display: inline-block;
    margin-right: $grid-offset-step * 2;

    @media (max-width: $mobile-device-width) {
      width: 100%;
      margin: 8px 0;
    }
  }
}
